@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  font-family: "Poppins", sans-serif !important;
}
body {
  background-color: #1f1d2b !important;
  transition: all ease-in-out 0.3s;
  color: #fafafa;
}
ul,
li,
a,
.nav-link {
  color: #fafafa;
  transition: all ease-in-out 0.6s;
}

a:hover,
.nav-link:hover,
.navbar-nav .active {
  font-weight: 600;
  background-image: linear-gradient(103.91deg, #9b51e0 21.01%, rgba(48, 129, 237, 0.8) 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
.nav-link:hover,
.navbar-nav .active {
  border-bottom: 1px solid #9b51e0;
}
.pt__custom {
  padding-top: 8%;
}
.nav__link__custom {
  font-size: 1.5rem;
}
.line {
  width: 100%;
  padding: 0.1px;
  background-color: #c4c4c4;
}
.row__center {
  align-items: center;
}
.nav-item {
  transition: all ease-in-out 0.6s;
}
.nav-item a {
  text-transform: uppercase !important;
  letter-spacing: 1.5px;
}
.btn__see {
  padding: 3px;
  width: 73px;
  height: 29px;
}
.navbar__header {
  z-index: 10;
}
.movie__box,
.movie__item,
.discover__box {
  display: flex;
}
.movie__box,
.discover__box {
  text-align: left;
  gap: 1.5rem;
}
.discover__box {
  row-gap: 4rem !important;
  flex-wrap: wrap;
}
.movie__item {
  flex-direction: column;
  gap: 1.5rem;
}

.form__contact,
.form__contact__box {
  display: flex;
  flex-direction: column;
}
.form__contact {
  gap: 2rem;
}
.form__contact__box {
  gap: 3rem;
}
.form-control:focus {
  color: #ffffff !important;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="number"]:focus {
  box-shadow: inset 0 -1px 0 #ddd;
}
input[type="text"]:hover,
input[type="password"]:hover,
input[type="email"]:hover,
input[type="number"]:hover {
  box-shadow: inset 0 -1px 0 #ddd;
}
.label__custom {
  position: absolute;
  color: #a7a7a7;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 22px;
  cursor: text;
}

/*Label CSS*/
.label__custom__on {
  top: 1rem;
}
.label__custom__off {
  top: -1.5rem;
}

.form__control__custom {
  font-size: 1.5rem;
  color: #ffffff;
  border: 0;
  background: transparent !important;
  border-bottom: 1px solid #ffffff;
  border-radius: 0;
  padding-left: 0;
}

.btn__submit__contact {
  color: #ffffff;
  font-weight: 500;
  gap: 10px;
  background: linear-gradient(103.91deg, #9b51e0 21.01%, rgba(48, 129, 237, 0.8) 100%);
  border-radius: 16px;
  border: 0;
}

@media screen and (min-width: 1800px) {
  .btn__submit__contact {
    font-size: 1.125rem;
    padding: 12px 24px;
    width: 218px;
    height: 60px;
  }
  .row__custom {
    margin-top: 3rem;
  }
  .row__custom__0 {
    gap: 0;
  }
  .row__custom__1 {
    gap: 2.5rem;
    align-items: center;
  }
  .row__custom__2 {
    gap: 6.5rem;
    align-items: center;
  }
  .row__custom__3 {
    display: flex;
    flex-direction: column;
    gap: 4.5rem;
    align-items: center;
  }
  .row__custom__4 {
    margin-top: 9rem;
    gap: 3.5rem;
    align-items: center;
  }
  .row__custom__5 {
    justify-content: space-between;
  }
  .behind__1,
  .contactus__2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    justify-content: center;
    gap: 1.5rem;
  }
  .contactus__2 {
    justify-content: center;
    gap: 5.5rem;
  }
  .contactus__2__box {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .contactus__2__box p {
    color: #a7a7a7;
  }
  .behind__2,
  .contactus__3 {
    display: flex;
    justify-content: flex-end;
  }
  .contactus__3 {
    flex-direction: column;
    justify-content: flex-start;
    padding: 5rem 7rem 15rem 7rem;
    background: #12111a;
    box-shadow: 0px 4px 40px rgb(0 0 0 / 8%);
    gap: 5rem;
  }
  .behind__text,
  .contactus__text {
    display: flex;
    flex-direction: column;
    gap: 3.75rem;
  }
  .contactus__text {
    align-items: flex-end;
    flex-direction: row;
    gap: 0.5rem;
  }
  .behind__title {
    width: 90%;
  }
  .aboutus__1,
  .client__1,
  .contactus__1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .client__1 > .client__title,
  .aboutus__1 > .aboutus__title,
  .contactus__1 > .contactus__title {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    text-align: center;
  }
  .contactus__title:nth-child(1) {
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
  }
  .contactus__title:nth-child(1) h2 {
    font-weight: 500;
    font-size: 3.5rem;
    line-height: 68px;
  }
  .contactus__title:nth-child(1) p {
    font-size: 1.25rem;
    width: 100%;
    line-height: 24px;
    text-align: justify;
    color: #a7a7a7;
  }
  .movie__item,
  .discover__item {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  .videotype__top,
  .videotype__bottom {
    display: flex;
    width: 85%;
    flex-direction: column;
    gap: 1.5rem;
    transition: all 0.5s;
  }
  .movie__box,
  .discover__box {
    flex-direction: row;
    text-align: left;
    gap: 1.5rem;
  }
  .discover__box {
    justify-content: space-between;
  }
  .discover__item .videotype__top,
  .discover__item .videotype__bottom {
    width: 100%;
  }
  .col__xl__custom {
    width: 23%;
  }

  .btn__custom {
    font-size: 1.25rem;
    line-height: 36px;
    letter-spacing: 1px;
    font-weight: 500;
    padding: 12px 24px;
    width: 218px;
    height: 60px;
  }
  .btn__contact {
    color: #fafafa;
    background-color: transparent;
    border: 1px solid #d7d7d7;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
  h1,
  h2 {
    font-size: 3rem;
  }
  p {
    margin: 0 !important;
    font-size: 1rem;
    font-weight: 400;
  }
  h5,
  h4 {
    font-size: 1.75rem;
    line-height: 24px;
    margin: 0 !important;
    font-weight: 500;
  }
  h4 {
    font-size: 2rem;
  }
  button {
    border-radius: 16px;
  }
  .flex__custom {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
  }
  .heading__middle p {
    font-size: 1rem;
    font-weight: 300;
    line-height: 36px;
    letter-spacing: 0.5px;
  }
  .heading__bottom {
    font-size: 1.5rem;
  }

  .navbar__header,
  .row__custom {
    padding: 1.5rem 10rem !important ;
  }
  .navbar__nav__custom {
    gap: 2rem;
  }

  .hero__heading {
    top: 8%;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
  }
  .hero__heading > .heading__top,
  .hero__heading > .heading__middle {
    display: inline-block;
    width: 22%;
  }
  .heading__bottom {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
  }
  .heading__bottom .btn__custom {
    font-size: 1.5rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    padding: 12px 24px;
    width: 218px;
    height: 60px;
  }
  .heading__bottom .btn__started,
  .behind__text .btn__started,
  .footer__top .btn__started {
    color: #fafafa;
    border: 0;
    background: linear-gradient(103.91deg, #9b51e0 21.01%, rgba(48, 129, 237, 0.8) 100%);
  }
  .heading__bottom .btn__contact {
    color: #fafafa;
    background-color: transparent;
    border: 1px solid #d7d7d7;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
  /* Popular Works CSS */
  .row__margin__bottom {
    margin-bottom: 8.5rem;
  }

  .popular__heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: space-around;
    align-items: center;
  }

  .videotype__bottom {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  /* Behind Scene CSS */

  .behind__title h2 {
    font-size: 3.5rem;
    line-height: 72px;
    letter-spacing: -1px;
  }

  .behind__text p {
    font-size: 1.125rem;
    line-height: 30px;
    letter-spacing: -0.02em;
  }

  .behind__text .btn__custom {
    font-size: 1.25rem;
    line-height: 36px;
    letter-spacing: 1px;
    font-weight: 500;
    padding: 12px 24px;
    width: 218px;
    height: 60px;
  }
  /* About Us CSS */
  .turnish__bg__1 {
    top: 1rem;
    z-index: -1;
  }

  .aboutus__title p {
    font-size: 1.25rem;
    line-height: 36px;
    letter-spacing: 0.5px;
  }
  .aboutus__box::before {
    content: "";
    position: absolute;
    top: 5rem;
    width: 100%;
    height: 53px;
    background: linear-gradient(93.51deg, #9b51e0 2.84%, #3081ed 99.18%);
    filter: blur(100px);
    border-radius: 10px;
  }
  .aboutus__box {
    display: flex;
    align-items: baseline;
  }
  .aboutus__box .aboutus__item {
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .aboutus__top {
    display: flex;
    width: 54%;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
  }
  .aboutus__top h5 {
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 24px;
  }
  /*Our Clients CSS*/
  .clients__box {
    display: flex;
    align-items: baseline;
  }
  .clients__box .clients__item {
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .clients__top {
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
  }
}

/*FOOTER CSS*/
footer {
  padding: 0 3rem !important;
}
footer a {
  text-decoration: none;
}
.footer__top h6 {
  font-size: 1.5rem;
}
.footer__box {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.footer__top {
  align-items: flex-start;
  justify-content: space-around;
}
.footer__top .footer__project {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.footer__project .btn__custom {
  letter-spacing: -1px;
  font-weight: 600;
  font-size: 1rem;
  line-height: normal;
  width: 152px;
  height: 49px;
  padding: 12px 24px;
  gap: 10px;
}
.footer__top__start {
  display: flex;
  gap: 1.75rem;
  flex-direction: column;
  width: 15%;
  margin-right: 4rem;
}
.footer__links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
/* END FOOTER CSS */

/* Backdrop CSS */
.modal-video {
  position: fixed;
  z-index: 10 !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0);
  z-index: 1000000;
  cursor: pointer;
  opacity: 0.5;
}
.modal-video-body {
  position: fixed;
  width: 100%;
  opacity: 1;
  z-index: 100 !important;
  top: 30%;
  left: 0;
  height: 0;
  margin: 0 auto;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  align-items: center;
  justify-items: center;
}
.modal-video-movie-wrap {
  width: 50%;
  height: 0;
  position: relative;
  padding-bottom: 29.25%;
  background-color: #333;
  animation-timing-function: ease-out;
  animation-duration: 0.3s;
  animation-name: modal-video-inner;
  -webkit-transform: translateY(50%);
  -moz-transform: translateY(50%);
  -ms-transform: translateY(50%);
  -o-transform: translateY(50%);
  transform: translateY(50%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -ms-transition: -ms-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}
.modal-video-close-btn {
  top: 0;
  right: -45px;
}
.modal-video-movie-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* END Backdrop css */
@media (orientation: landscape) {
  .modal-video-inner {
    padding: 10px 60px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100% !important;
    justify-items: center;
    text-align: center;
    height: 0;
  }
}
/*HOVER EFFECT CSS*/
.videotype__img .gallery-links {
  display: flex;
  flex-direction: row;
  gap: 0.8rem;
  position: absolute;
  border-radius: 12px;
  inset: 0;
  opacity: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 3;
  transition: all ease-in-out 0.3s;
}
.videotype__img {
  overflow: hidden;
  transition: all ease-in-out 0.3s;
}
.videotype__img img {
  transition: all ease-in-out 0.3s;
}
.movie__item .videotype__img:hover .gallery-links {
  border-radius: 30%;
  opacity: 1;
  scale: 1.2;
}
.movie__item .videotype__img:hover img {
  border-radius: 30%;
  scale: 1.2;
}

.videotype__img {
  position: relative;
}

.fontAwesome__btn {
  background: none !important;
  border: 0 !important;
}
.fontAwesome__btn svg {
  color: rgba(255, 255, 255, 0.5);
}
